# DATABASE (MYSQL)
DB_USERNAME=****
DB_PASSWORD=****
DB_ROOT_PASSWORD=****
DB_NAME=****
DB_HOST=****
DB_DIALECT=****
DB_PORT=****

# SESSION SECRET KEY
SESSION_SECRET=****

# EMAIL
GMAIL=****
GMAIL_APP_PASSWORD=****

# CLOUDINARY
CLOUDINARY_NAME=****
CLOUDINARY_API_KEY=****
CLOUDINARY_API_SECRET=****
CLOUDINARY_FOLDER=****

# ACCOUNT
ADMIN_USERNAME=****
ADMIN_PASSWORD=****
ADMIN_EMAIL=****
USER_PASSWORD=****
